<!-- <div ng&#45;controller="ReceiptController" class="col&#45;xs&#45;6"> -->
<div class="col-xs-12 col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading" tabindex="-1" focus-on="receipt-div">{{ 'app.receipt' | translate }}</div>
        <div class="panel-body">
            <form novalidate name="receiptForm" class="simple-form">
                <div class="form-group" ng-class="{ 'has-error' : receiptForm.r_f_store.$invalid && !receiptForm.r_f_store.$pristine }">
                    <input name="r_f_store" class="form-control" placeholder="{{ 'item.store' | translate }}"
                    type="text" ng-model="ctl.item.store" list="stores" required
                    focus-on="receipt-start" ng-change="ctl.storeSelected(ctl.item)"
                    />
                    <datalist id="stores">
                        <option ng-repeat="it in ctl.stores track by $index" value="{{ it.store + ' - ' + it.city }}"
                        data-obj="{{ it }}"></option>
                    </datalist>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : receiptForm.r_f_store_label.$invalid && !receiptForm.r_f_store_label.$pristine }">
                    <input name="r_f_store_label" class="form-control" placeholder="{{ 'item.store_label' | translate }}"
                    type="text" ng-model="ctl.item.store_label" ng-model-options="{ updateOn: 'blur' }"
                    list="store_labels" required />
                    <datalist id="store_labels">
                        <option ng-repeat="item in ctl.store_labels track by $index" value="{{ item }}"></option>
                    </datalist>
                </div>
                <div class="input-group form-group" ng-class="{ 'has-error' : receiptForm.r_f_date.$invalid && !receiptForm.r_f_date.$pristine }">
                    <span class="input-group-addon">
				<i class="fa fa-calendar"></i>
			</span>
                    <div class="input-append date">
                        <input data-provide="datepicker" class="form-control" name="r_f_date" focus-on="receipt-date"
                        data-date-format="yyyy-mm-dd" ng-model="ctl.item.date"
                        required/>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : receiptForm.r_f_city.$invalid && !receiptForm.r_f_city.$pristine }">
                    <input name="r_f_city" class="form-control" placeholder="{{ 'item.city' | translate }}"
                    type="text" ng-model="ctl.item.city" required ng-model-options="{ updateOn: 'blur' }"
                    focus-on="receipt-city" list="cities" />
                    <datalist id="cities">
                        <option ng-repeat="item in ctl.cities track by $index" value="{{ item }}"></option>
                    </datalist>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : receiptForm.r_f_receipt.$invalid && !receiptForm.r_f_receipt.$pristine }">
                    <input name="r_f_receipt" class="form-control" placeholder="{{ 'item.receipt' | translate }}"
                    type="text" ng-model="ctl.item.receipt" />
                </div>
                <div class="form-group">
                    <input name="r_f_price" class="form-control" placeholder="{{ 'item.price' | translate }}"
                    type="text" currency value="{{ ctl.receiptTotal() | currency:'€ ' }}"
                    />
                </div>
                <div class="button-group">
                    <button ng-show="!receiptForm.$pristine || receiptForm.$valid" class="btn" type="submit"
                    ng-click="ctl.toArticle()" tooltip="{{ 'action.check' | translate}}">
                        <i class="fa fa-check fa-2x">
				</i>
                    </button>
                    <button ng-show="!receiptForm.$pristine || receiptForm.$valid" class="btn" ng-click="ctl.save()"
                    tooltip="{{ 'action.new' | translate}}">
                        <i class="fa fa-plus fa-2x">
				</i>
                    </button>
                    <button ng-show="!receiptForm.$pristine || receiptForm.$valid" type="reset" class="btn"
                    ng-click="ctl.reset()" tooltip="{{ 'action.reset' | translate}}">
                        <i class="fa fa-eraser fa-2x">
				</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
