<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
            <tr>
				<th>
                    {{ 'item.store' | translate }} </th>
				<th>
                    {{ 'item.city' | translate }}
                </th>
				<th>
                    {{ 'item.receipt' | translate }}
                </th>
				<th>
                    {{ 'item.label' | translate }}
                </th>
				<th>
                    {{ 'item.total_price' | translate }}
                </th>
				<th>
                    {{ 'item.date' | translate }}
                </th>
                <th>
                    {{ 'action.actions' | translate }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.store }}</td>
                <td>{{item.city}}</td>
                <td>{{item.receipt}}</td>
                <td>{{item.label}} {{item.store_label}}</td>
                <td>
                    {{item.price | currency:'€ ' }}
                </td>
                <td>{{item.date}}</td>
                <td>
                    <div class="button-group center">
                        <button class="btn" ng-click="delete(item)" type="delete" tooltip="{{ 'action.delete' | translate}}">
                            <i class="fa fa-trash-o fa-2x">
			</i>
                        </button>
                        <button class="btn" ng-click="setSelected(item)" type="edit" tooltip="{{ 'action.new' | translate}}">
                            <i class="fa fa-external-link fa-2x">
			</i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
