<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
            <tr>
				<th></th>
                <th class="hidden-lg">
                    {{ 'item.brand' | translate }} </th>
                <th>
                    {{ 'item.name' | translate }}
                </th>
                <th class="hidden-xs hidden-sm hidden-md">
                    {{ 'item.brand' | translate }}
                </th>
                <th>
                    {{ 'item.label' | translate }}
                </th>
                <th>
                    {{ 'item.count' | translate }}
                </th>
                <th class="hidden-xs hidden-sm hidden-md">
                    {{ 'item.price' | translate }}
                </th>
                <th>
                    {{ 'item.total_price' | translate }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items | filter:isReceipt">

				<td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">
                            <i class="fa fa-bars fa-2x"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <!-- Dropdown menu links -->

                            <li>
                                <span>
                                    <button class="btn" ng-click="delete(item)" type="delete" tooltip="{{ 'action.delete' | translate}}">
                                        <i class="fa fa-trash-o fa-2x">
			</i>
                                    </button>
									</span>
                                <span>
                                        {{ 'action.delete' | translate}}
									</span>
                            </li>
                            <li>
                                <span>
                                    <button class="btn" ng-click="edit(item)" type="edit" tooltip="{{ 'action.edit' | translate}}">
                                        <i class="fa fa-pencil-square-o fa-2x">
			</i>
                                    </button>
									</span>
                                <span>
                                        {{ 'action.edit' | translate}}
									</span>
                            </li>
                            <li>
                                <span>
                                    <button class="btn" ng-click="setSelected(item)" type="edit" tooltip="{{ 'action.new' | translate}}">
                                        <i class="fa fa-external-link fa-2x"></i>
                                    </button>
									</span>
                                <span>
                                        {{ 'action.new' | translate}}
									</span>
                            </li>
                        </ul>
                    </div>
				</td>
                <td class="hidden-lg">{{item.brand}}</td>
                <td>{{item.name}}</td>
                <td class="hidden-xs hidden-sm hidden-md">{{item.brand}}</td>
                <td>{{item.label}} {{receipt.receipt.store_label}}</td>
                <td>{{item.count}}</td>
                <td class="hidden-xs hidden-sm hidden-md">
                    <div ng-if="item.on_deal === 0 || item.on_deal === undefined" class="inline-block">
                        {{item.price | currency:'€ ' }}
                    </div>
                    <div ng-if="item.on_deal === 1" class="inline-block">
                        {{item.price | currency:'€ ' }} ( !!! )
                    </div>
                </td>
                <td>
                    {{item.price * item.count | currency:'€ ' }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
