<!-- <div ng&#45;controller="ItemController" class="col&#45;xs&#45;6"> -->
<div class="col-xs-6">
    <form novalidate class="simple-form">
        <label for="name" class="col-sm-2 control-label" translate>item.name</label>
        <input id="name" type="text" ng-model="item.name" list="names" />
        <datalist id="names">
            <option ng-repeat="item in names" value="{{ item }}"></option>
        </datalist>
        <br />
        <label for="brand" class="col-sm-2 control-label" translate>item.brand</label>
        <input id="brand" type="text" ng-model="item.brand" />
        <br />
        <label for="label" class="col-sm-2 control-label" translate>item.label</label>
        <input id="label" type="text" ng-model="item.label" />
        <br />
        <label for="count" class="col-sm-2 control-label" translate>item.count</label>
        <input id="count" type="number" ng-model="item.count" />
        <br />
        <label for="price" class="col-sm-2 control-label" translate>item.price</label>
        <input id="price" type="number" ng-model="item.price" />
        <br />
        <label for="on_deal" class="col-sm-2 control-label" translate>item.on_deal</label>
        <input id="on_deal" type="checkbox" ng-model="item.on_deal" ng-true-value="1" ng-false-value="0"
        />
        <br/>
        <br />
        <input type="button" ng-click="reset()" translate value="{{ 'action.reset' | translate}}"
        />
        <input type="submit" ng-click="update(item)" translate value="{{ 'action.save' | translate}}"
        />
    </form>
</div>
<!-- <pre>form = {{item | json}}</pre> -->
<!-- <pre>master = {{master | json}}</pre> -->
