<!-- <div ng&#45;controller="ItemController" class="col&#45;xs&#45;6"> -->
<div class="col-xs-6">
    <form novalidate class="simple-form">
        <!-- <label for="name" class="col&#45;sm&#45;2 control&#45;label" translate>item.name</label> -->
        <input id="name" type="text" class="form-control" placeholder="{{ 'item.name' | translate }}"
        ng-model="item.name" list="names" />
        <datalist id="names">
            <option ng-repeat="item in names" value="{{ item }}"></option>
        </datalist>
        <br />
        <!-- <label for="brand" class="col&#45;sm&#45;2 control&#45;label" translate>item.brand</label> -->
        <input id="brand" class="form-control" placeholder="{{ 'item.brand' | translate }}"
        type="text" ng-model="item.brand" />
        <br />
        <!-- <label for="label" class="col&#45;sm&#45;2 control&#45;label" translate>item.label</label> -->
        <input id="label" 
			class="form-control" 
			placeholder="{{ 'item.label' | translate }}"
        type="text" ng-model="item.label" />
        <br />
        <!-- <label for="count" class="col&#45;sm&#45;2 control&#45;label" translate>item.count</label> -->
        <input id="count" class="form-control" placeholder="{{ 'item.count' | translate }}"
        type="number" ng-model="item.count" />
        <br />
        <div class="input-group">
            <span class="input-group-addon">{{ 'symbol.currency' | translate }}</span>
            <input id="price" placeholder="{{ 'item.price' | translate }}" class="form-control"
            type="text" ng-model="item.price" />
        </div>
        <br />
        <div class="input-group">
            <span class="input-group-addon">
            <input id="on_deal" 
				    placeholder="{{ 'item.on_deal' | translate }}"
            		type="checkbox" ng-model="item.on_deal" ng-true-value="1" ng-false-value="0"
            /></span>
            <input class="form-control" placeholder="{{ 'item.on_deal' | translate }}" />
            <!-- {{ 'item.on_deal' | translate }} -->
        </div>
        <br/>
        <div class="form-group center">
            <button ng-click="reset()" tooltip="{{ 'action.reset' | translate}}">
                <i class="fa fa-eraser fa-2x">
			</i>
            </button>
            <button ng-click="update(item)" tooltip="{{ 'action.save' | translate}}">
                <i class="fa fa-save fa-2x">
			</i>
        </div>
</div>

</form>
</div>
<!-- <pre>form = {{item | json}}</pre> -->
<!-- <pre>master = {{master | json}}</pre> -->
