<div>
    <!-- <bar&#45;chart/> -->
    <div class="col-xs-12 col-md-9">
        <div d3-bars items="{{ctrl.items | filter:ctrl.svc.itemFilter }}" bar-height="20"
        bar-padding="5" total="ctrl.total"></div>
        {{ ctrl.total | currency }}
    </div>
    <div class="col-xs-12 col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">{{ 'app.graphic' | translate }}</div>
            <div class="panel-body">
                <form novalidate name="form" class="simple-form">
                    <div class="form-group">
                        <div class="input-group form-group" ng-class="{ 'has-error' : form.begin.$invalid && !form.begin.$pristine }">
							<span class="input-group-addon"><i class="fa fa-calendar"></i>  {{ 'text.begin' | translate}} </span>
                            <div class="input-append date">
                                	<input data-provide="datepicker" 
									   class="form-control"
										name="begin" 
		  								ng-change="ctrl.svc.dateChange(ctrl.svc.filter, 'begin', ctrl.svc.filter.date.begin)"
		  								data-date-format="dd MM yyyy"
          								is-open="opened" close-on-date-selection="true"
          								datepicker-options="dateOptions" date-disabled="disabled(date, mode)" 
          								show-button-bar="false" show-weeks="false"
                                		ng-model="ctrl.svc.filter.date.begin" required />
                            </div>
                        </div>
                        <div class="input-group form-group" ng-class="{ 'has-error' : form.end.$invalid && !form.end.$pristine }">
							<span class="input-group-addon"><i class="fa fa-calendar"></i>  {{ 'text.end' | translate}} </span>
                            <div class="input-append date">
                                	<input data-provide="datepicker" 
									   class="form-control" 
										name="begin" data-date-format="dd MM yyyy"
		  								ng-change="ctrl.svc.dateChange(ctrl.svc.filter, 'end', ctrl.svc.filter.date.end)"
          								is-open="opened" close-on-date-selection="true"
          								datepicker-options="dateOptions" date-disabled="disabled(date, mode)" 
          								show-button-bar="false" show-weeks="false"
                                		ng-model="ctrl.svc.filter.date.end" required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group" ng-class="{ 'has-error' : form.label.$invalid && !form.label.$pristine }">
                            <span class="input-group-addon">{{ 'text.store_type' | translate}} </span>
                            <select class="selectpicker form-control" ng-options="item.text for item in ctrl.svc.store_label_list track by item.key"
                            ng-model="ctrl.svc.filter.store_label">
                                <option value="">--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group" ng-class="{ 'has-error' : form.label.$invalid && !form.label.$pristine }">
                            <span class="input-group-addon">{{ 'text.city' | translate}} </span>
                            <select class="selectpicker form-control" ng-options="item.text for item in ctrl.svc.city_list track by item.key"
                            ng-model="ctrl.svc.filter.city">
                                <option value="">--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group" ng-class="{ 'has-error' : form.label.$invalid && !form.label.$pristine }">
                            <span class="input-group-addon">{{ 'text.store' | translate}} </span>
                            <select class="selectpicker form-control" ng-options="item.text for item in ctrl.svc.store_list track by item.key"
                            ng-model="ctrl.svc.filter.store">
                                <option value="">--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group" ng-class="{ 'has-error' : form.label.$invalid && !form.label.$pristine }">
                            <span class="input-group-addon">{{ 'text.brand' | translate}} </span>
                            <select class="selectpicker form-control" ng-options="item.text for item in ctrl.svc.brand_list track by item.key"
                            ng-model="ctrl.svc.filter.brand">
                                <option value="">--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group" ng-class="{ 'has-error' : form.label.$invalid && !form.label.$pristine }">
                            <span class="input-group-addon">{{ 'text.label' | translate}} </span>
                            <select class="selectpicker form-control" ng-options="item.text for item in ctrl.svc.label_list track by item.key"
                            ng-model="ctrl.svc.filter.label">
                                <option value="">--</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
