<div>
    <form novalidate class="simple-form">
        <label for='i1' class="col-sm-2 control-label" translate>DISPENSA.LABEL.NAME</label>
        <input id='i1' type="text" ng-model="item.name" />
        <br/>
        <label for='i2' class="col-sm-2 control-label" translate>DISPENSA.LABEL.BRAND</label>
        <input id='i2' type="text" ng-model="item.brand" />
        <br/>
        <label for='i3' class="col-sm-2 control-label" translate>DISPENSA.LABEL.TYPE</label>
        <input id='i3' type="text" ng-model="item.type" />
        <br/>
        <label for='i4' class="col-sm-2 control-label" translate>DISPENSA.LABEL.QNT</label>
        <input id='i4' type="text" ng-model="item.quantity" />
        <br/>
        <label for='i5' class="col-sm-2 control-label" translate>DISPENSA.LABEL.PRICE</label>
        <input id='i5' type="text" ng-model="item.price" />
        <br/>
        <label for='i6' class="col-sm-2 control-label" translate>DISPENSA.LABEL.STORE</label>
        <input id='i6' type="text" ng-model="item.store" />
        <br/>
		<button ng-click="reset()" translate >DISPENSA.LABEL.BTN_RESET</button>
		<button type="submit" ng-click="update(item)" translate >DISPENSA.LABEL.BTN_SAVE</button>
    </form>
    <pre>form = {{item | json}}</pre>  <pre>master = {{master | json}}</pre> 
</div>
