<div>
	<!-- <button ng&#45;click="exportData()">export</button> -->
    <table st-table="disItems" st-safe-src="items" class="table table-striped">
        <thead>
            <tr class="sortable">
                <th st-sort="store">
                    {{ 'item.store' | translate }}
                </th>
                <th st-sort="name">
                    {{ 'item.name' | translate }}
                </th>
                <th st-sort="receipt">
                    {{ 'item.receipt' | translate }}
                </th>
                <th st-sort="brand">
                    {{ 'item.brand' | translate }}
                </th>
                <th st-sort="label">
                    {{ 'item.label' | translate }}
                </th>
                <th st-sort="count">
                    {{ 'item.count' | translate }}
                </th>
                <th st-sort="price">
                    {{ 'item.price' | translate }}
                </th>
                <th st-sort="date">
                    {{ 'item.date' | translate }}
                </th>
                <th>
                    {{ 'action' | translate }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in disItems track by item.id " ng-click="setSelected(item);">
                <td>
                    <div ng-if="!item.city" class="inline-block">
                        {{item.store }}
                    </div>
                    <div ng-if="item.city" class="inline-block">
                        {{item.store + ' (' + item.city + ')'}}
                    </div>
                </td>
                <td>{{item.name}}</td>
                <td>{{item.receipt}}</td>
                <td>{{item.brand}}</td>
                <td>{{item.label}} {{item.store_label}}
                </td>
                <td>{{item.count}}</td>
                <td>
                    <div ng-if="item.on_deal === 0 || item.on_deal === undefined" class="inline-block">
                        {{item.price | currency:'€ ' }}
                    </div>
                    <div ng-if="item.on_deal === 1" class="inline-block">
                        {{item.price | currency:'€ ' }} ( !!! )
                    </div>
                </td>
                <td>{{item.date}}</td>
                <td>
                    <div class="form-group center">
                        <button ng-click="delete(item)" tooltip="{{ 'action.delete' | translate}}">
                            <i class="fa fa-trash-o fa-2x">
			</i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
